* {
	box-sizing: border-box;
  }

html,
body {
	padding: 0;
	margin: 0;
}

body {
	// background-color: #ecf0f2;
	background-color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	// padding-top: 200px;
	// transition: padding-top 0.5s ease;

	@media (min-width: 768px) { 
		padding-top: 200px;
	}

}



header {
	width: 100%;
	text-align: center;
	position: relative;
	position: fixed;
	top: 0;
	// overflow: hidden;
	transition: all 0.5s ease;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	h1 {
		color: #666;
		text-transform: uppercase;
		font-weight: 100;
		transition: all 0.3s ease;
	}

	nav {
		position: absolute;
		top: 0;
		z-index: -1;
		// height: 60px;
		// line-height: 60px;
		width: 100%;
		background-color: white;
	}
		
	  @media(min-width:768px){

		flex-direction: column;

		  nav {
			position: static;
			top: auto;
			height: 60px;
			width: 100%;
			border-top: 2px dashed #333;
			border-bottom: 2px dashed #333;
		}
	}
	  
	  header nav a {
		color: #fff;
		display: inline-block;
		padding: 10px 15px;
		line-height: 1;
		text-decoration: none;
		// border-radius: 2px;
	  }
	  
	  header nav a:hover {
		// box-shadow: 0 0 0 1px #fff;
	  }  


}


	
/* Sticky Header Style */
/* ---------------------------------------- */

.sticky-header {

	padding-top: 100px;

	header {

		h1 {
			transform: scale(0, 0);
		  }

		@media (min-width: 768px) {

			.site-id img {
				max-width: 40%;
			}

		}

	  }

}
  
